body {
  margin: 0%;
  padding: 0%;
}

.heading-container {
  height: 100px;
  width: 100%;
  background: linear-gradient(90deg, #e0b3ff, #800080);
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
}
.heading-container img {
  height: 100px;
}
.form-container {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 40px;
  height: 80vh;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1 {
  text-align: center;
}

.file-upload,
.password-section,
.expiry-section {
  margin-bottom: 15px;
}

input[type="file"],
input[type="password"],
input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100px;
  height: 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.link-section {
  margin-top: 20px;
}

.footer-container {
  height: 80px;
  padding: 20px;
  background: linear-gradient(90deg, #800080, #e0b3ff);
  text-align: center;
  color: #f0eeee;
}
.footer-container img {
  height: 40px;
}

@media screen and (max-width: 768px) {
  .heading-container {
    height: 80px;
    width: 100%;
    text-align: center;
  }
  .heading-container img {
    height: 80px;
  }

  .form-container {
    height: 70vh;
  }
  .footer-container {
    height: 100px;
    background: linear-gradient(90deg, #800080, #e0b3ff);
  }
}
